.node-red/.flows.json.backup
[
    {
        "id": "bdcc9e4c2baf1207",
        "type": "tab",
        "label": "DASHBOARD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c71376ca59956a6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "452a712d83454fac8e3998a043ba5614.s1.eu.hivemq.cloud",
        "port": "8884",
        "tls": "719fcaa40a3bf911",
        "clientid": "clientId-Yvsm2Zqo0e",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c9cc5ec75cba2c62",
        "type": "websocket-client",
        "path": "http://www.hivemq.com/demos/websocket-client/?username=iotuser&host=452a712d83454fac8e3998a043ba5614.s1.eu.hivemq.cloud&port=8884",
        "tls": "",
        "wholemsg": "false",
        "hb": "0"
    },
    {
        "id": "719fcaa40a3bf911",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "05ccbdc58d8c0b8e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63d424059e0f9c56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6168d8ccc06c2a43",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "ozsbfeizl0360svbrnclv5rnmaxe5fbjhmx56s1n254les7c0lsapipm8l56ik3k",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "b18abbb32b134906",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "64dd684bb00af950",
        "type": "ui_tab",
        "name": "text",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3416fa0cbb5a859",
        "type": "ui_tab",
        "name": "button",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "557fed4583178ab7",
        "type": "ui_tab",
        "name": "MÔI TRƯỜNG",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "76f36fbb6a355c3c",
        "type": "ui_group",
        "name": "TEXT",
        "tab": "64dd684bb00af950",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cf1fae9c34bfc293",
        "type": "ui_group",
        "name": "b",
        "tab": "c3416fa0cbb5a859",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b3ba5770ec69e9c1",
        "type": "ui_group",
        "name": "KHÔNG KHÍ",
        "tab": "557fed4583178ab7",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "0819bbd01f977697",
        "type": "ui_group",
        "name": "ÁNH SÁNG",
        "tab": "557fed4583178ab7",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "c70837977485685b",
        "type": "ui_group",
        "name": "NƯỚC",
        "tab": "557fed4583178ab7",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "7391c93762ecea28",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "CO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "7a813e39ee0729cd",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "NHIET DO KHONG KHI",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "5279f4210239625e",
                "ce3da1aebfde9d45",
                "b425ba1554feb7a7"
            ]
        ]
    },
    {
        "id": "738155884b5a4c22",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "DO AM KHONG KHI",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "f89404652c8ec738",
                "5712748f60324310"
            ]
        ]
    },
    {
        "id": "5e7d9c9c80a2a218",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "CUONG DO ANH SANG",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "595b78b689789dff",
                "f146706e8e739a56"
            ]
        ]
    },
    {
        "id": "8e958c2eba706558",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "NHIET DO NUOC",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 780,
        "wires": [
            [
                "88bde25b431d4dc0",
                "3caf980df9497762"
            ]
        ]
    },
    {
        "id": "ac49e8497fd99bbf",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "HOA TAN",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 860,
        "wires": [
            [
                "6a91d262de54275a"
            ]
        ]
    },
    {
        "id": "5243f385250626f5",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "DO DUC",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "c5279630ee470316",
                "3d3d0b2b02de2aff"
            ]
        ]
    },
    {
        "id": "1d62591a3dd7ca02",
        "type": "csv",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "nhiet do,do am",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 690,
        "y": 1260,
        "wires": [
            [
                "bda38330de1e1ca6"
            ]
        ]
    },
    {
        "id": "21743f87baa6dd2d",
        "type": "change",
        "z": "bdcc9e4c2baf1207",
        "name": "Generate single payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"nhiet do\":$floor(msg.payload.temp),\"do am\":$floor(msg.payload.hum)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1260,
        "wires": [
            [
                "1d62591a3dd7ca02"
            ]
        ]
    },
    {
        "id": "e7d37150d59d4176",
        "type": "join",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 330,
        "y": 1260,
        "wires": [
            [
                "21743f87baa6dd2d"
            ]
        ]
    },
    {
        "id": "bda38330de1e1ca6",
        "type": "function",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "func": "\nlet d = new Date().toISOString().slice(0, 10);\nlet f = 'E:'+'/New folder/'+d+'_khong_khi'+'.csv';\nmsg.filename = f;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "040b72b81ca080c2",
        "type": "mqtt in",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "topic": "DONG DIEN",
        "qos": "2",
        "datatype": "auto",
        "broker": "63d424059e0f9c56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "6599dbe0b4d4d769"
            ]
        ]
    },
    {
        "id": "b425ba1554feb7a7",
        "type": "debug",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "2fd82ab5c3e422b7",
        "type": "function",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "func": "msg.payload = Number(msg.payload);\nmsg.payload.doam = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 60,
        "y": 1260,
        "wires": [
            [
                "f2e4ee81909c4e5c"
            ]
        ]
    },
    {
        "id": "d61af690605a0bbe",
        "type": "file",
        "z": "bdcc9e4c2baf1207",
        "name": "slider",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 970,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "f2e4ee81909c4e5c",
        "type": "change",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"doam\":$floor(msg.payload)}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 1220,
        "wires": [
            [
                "e7d37150d59d4176"
            ]
        ]
    },
    {
        "id": "5279f4210239625e",
        "type": "ui_gauge",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "b3ba5770ec69e9c1",
        "order": 3,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "NHIỆT ĐỘ KHÔNG KHÍ ",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "f89404652c8ec738",
        "type": "ui_gauge",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "b3ba5770ec69e9c1",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "wave",
        "title": "ĐỘ ẨM KHÔNG KHÍ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "3caf980df9497762",
        "type": "ui_gauge",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "c70837977485685b",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "NHIỆT ĐỘ NƯỚC",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 610,
        "y": 740,
        "wires": []
    },
    {
        "id": "3d3d0b2b02de2aff",
        "type": "ui_gauge",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "c70837977485685b",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "ĐỘ ĐỤC",
        "label": "NTU",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "f146706e8e739a56",
        "type": "ui_gauge",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "0819bbd01f977697",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "CƯỜNG ĐỘ ÁNH SÁNG",
        "label": "LUX",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "c5279630ee470316",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "c70837977485685b",
        "order": 3,
        "width": 5,
        "height": 5,
        "label": "ĐỘ ĐỤC(NTU)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 600,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "6a91d262de54275a",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "c70837977485685b",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "HÒA TAN(PPM)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "100",
        "ymax": "1200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 400,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "88bde25b431d4dc0",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "c70837977485685b",
        "order": 4,
        "width": 5,
        "height": 5,
        "label": "MÔI TRƯỜNG NƯỚC (C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "595b78b689789dff",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "0819bbd01f977697",
        "order": 2,
        "width": 5,
        "height": 5,
        "label": "CƯỜNG ĐỘ ÁNH SÁNG (LUX)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#f6f8f9",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "ce3da1aebfde9d45",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "b3ba5770ec69e9c1",
        "order": 4,
        "width": 5,
        "height": 5,
        "label": "NHIỆT ĐỘ KHÔNG KHÍ(C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e0200b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5712748f60324310",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "b3ba5770ec69e9c1",
        "order": 5,
        "width": 5,
        "height": 5,
        "label": "ĐỘ ẨM KHÔNG KHÍ(%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0a84db",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 410,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6599dbe0b4d4d769",
        "type": "ui_chart",
        "z": "bdcc9e4c2baf1207",
        "name": "",
        "group": "0819bbd01f977697",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "DÒNG ĐIỆN(mA)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "c28b01a0446e9bc8",
        "type": "ui_template",
        "z": "bdcc9e4c2baf1207",
        "group": "b3ba5770ec69e9c1",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 660,
        "y": 20,
        "wires": [
            []
        ]
    }
]